body{
    margin :0;
    background-color: #546573;
}
#top{
    width: 100%;
    height: 60px;
    background: red;
    background:-moz-linear-gradient(top,#5a0b01,#810f00);/*火狐*/
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#5a0b01), to(#810f00));/*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5a0b01), to(#810f00));      /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #5a0b01, #810f00);   /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #5a0b01, #810f00);  /*Opera 11.10+*/
}
#head{
    width: 100%;
    height: 240px;
    background: #151a1d;/* url(block1.png)*/

}
#main{
    width: 100%;
    height: 760px;
    background: url("a.jpg") #546573 ;
}
#bottom{
    height: 280px;
    background: #1e2829;
}
.radius{
    -wekit-border-radius: 35px;
    -moz-border-radius: 35px;
    -o-border-radius: 35px;
    border-radius: 35px;
}
#box1,#box2{
    margin-top: 20px;
    border:1px solid #27302f;
    width:16.4%;
    height: 200px;
    float: left;
    margin-left: -25px;
    background:-moz-radial-gradient(left,#303636,#171b1c);/*火狐*/
    background:-webkit-gradient(radial, 0% 0%, 0% 100%,from(#303636), to(#171b1c));/*谷歌*/
    background: -webkit-gradient(radial, 0% 0%, 0% 100%, from(#303636), to(#171b1c));      /* Safari 4-5, Chrome 1-9*/
    background: -webkit-radial-gradient(left, #303636, #171b1c);   /*Safari5.1 Chrome 10+*/
    background: -o-radial-gradient(left, #303636, #171b1c);  /*Opera 11.10+*/
}
#box2{
    float: right;
    margin-right: -25px;
    background:-moz-radial-gradient(right,#303636,#171b1c);/*火狐*/
    background:-webkit-gradient(radial, 0% 0%, 0% 100%,from(#171b1c), to(#303636));/*谷歌*/
    background: -webkit-gradient(radial, 0% 0%, 0% 100%, from(#171b1c), to(#303636));      /* Safari 4-5, Chrome 1-9*/
    background: -webkit-radial-gradient(right, #303636, #171b1c);   /*Safari5.1 Chrome 10+*/
    background: -o-radial-gradient(right, #303636, #171b1c);  /*Opera 11.10+*/
}
#alpha{
    width: 100px;
    height: 100px;
    background-color: #ffccaa;
    filter: Alpha(opacity=100,finishopacity=0,style=1,startx=0,starty=0,finishx=0,finishy=80);
}
