body{
    margin :0;
    background-color: #546573;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.top{
    width: 100%;
    height: 60px;
    background: red;
    background: -moz-linear-gradient(top,#5a0b01,#810f00);/*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#5a0b01), to(#810f00));/*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5a0b01), to(#810f00));      /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #5a0b01, #810f00);   /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #5a0b01, #810f00);  /*Opera 11.10+*/
}
.head{
    width: 100%;
    height: 240px;
    background: url("head.jpg") #101516 center no-repeat;

}
.main{
    width: 100%;
    height: 760px;
    background: url("a.jpg") #546573 ;
}
.bottom{
    height: 280px;
    background: #1e2829;
}
.radiusB{
    -wekit-border-radius: 35px;
    -moz-border-radius: 35px;
    -o-border-radius: 35px;
    border-radius: 35px;
}
.radiusM{
    -wekit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}
.radiusS{
    -wekit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
#box1,#box2{
    margin-top: 20px;
    border:1px solid #27302f;
    width:16.4%;
    height: 200px;
    float: left;
    margin-left: -25px;
    background:-moz-radial-gradient(left,#303636,#171b1c);/*火狐*/
    background:-webkit-gradient(radial, 0% 0%, 0% 100%,from(#303636), to(#171b1c));/*谷歌*/
    background: -webkit-gradient(radial, 0% 0%, 0% 100%, from(#303636), to(#171b1c));      /* Safari 4-5, Chrome 1-9*/
    background: -webkit-radial-gradient(left, #303636, #171b1c);   /*Safari5.1 Chrome 10+*/
    background: -o-radial-gradient(left, #303636, #171b1c);  /*Opera 11.10+*/
}
#box2{
    float: right;
    margin-right: -25px;
    background: -moz-radial-gradient(right,#303636,#171b1c);/*火狐*/
    background: -webkit-gradient(radial, 0% 0%, 0% 100%,from(#171b1c), to(#303636));/*谷歌*/
    background: -webkit-gradient(radial, 0% 0%, 0% 100%, from(#171b1c), to(#303636));      /* Safari 4-5, Chrome 1-9*/
    background: -webkit-radial-gradient(right, #303636, #171b1c);   /*Safari5.1 Chrome 10+*/
    background: -o-radial-gradient(right, #303636, #171b1c);  /*Opera 11.10+*/
}
#content{
    position: absolute;
    width: 940px;
    top: 0;
    left: 0;
    right: 0;
    margin:0 auto;
}
#mainMenu{
    height: 60px;
}
.mbt{
    height: 60px;
    width: 100px;
    margin: 0;
    border: 0;
    background-color: transparent;
    font-weight: bolder;
    font-size: 14px;
    color: #ca9b95;
}
.mbt:hover{
    background: url(mbtHover.jpg) center;
    color: #ffffff;
}
#head{
    padding: 28px 20px;
    height: 180px;
}
h2{
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}
#hLeft{
    position: relative;
    float: left;
}
#hRight{
    position: relative;
    float: right;
}
#discribe{
    color: #486c7c;
    font-weight: bold;
    font-size: 15px;
    word-spacing: 3px;
    letter-spacing: 3px;
    margin-top: -20px;
    margin-left: 4px;
}
